<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <meta charset="UTF-8">
    <!--뷰포트 설정 : 너비를 기기의 너비로 설정-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/dashboard/">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link th:href="@{/css/layout2.css}" rel="stylesheet">

    <!-- JS, Popper.js, and jQuery -->
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

<!--   content1과 content2를 나누어 content2가 있을때는 화면을 반반나누어 사용하게 -->
    <script>
    var displayContent2 = true; // true이면 content2 표시, false이면 숨김

    if (displayContent2) {
    document.querySelector("[layout\\:fragment='content2']").style.width = "50%";
    document.querySelector("[layout\\:fragment='content2']").style.display = "block";

    // content1의 너비를 50%로 설정
    document.querySelector("[layout\\:fragment='content1']").style.width = "50%";
    } else {
    // content1의 너비를 100%로 설정
    document.querySelector("[layout\\:fragment='content1']").style.width = "100%";
    }
    </script>

    <th:block layout:fragment="script"></th:block>
    <th:block layout:fragment="css"></th:block>


<body>

<div th:replace="fragments/header::header"></div>

<div class="body_content">
    <div layout:fragment="content1" class="content" style="float: left;">
        <!-- content1 내용 -->
    </div>
    <div layout:fragment="content2" class="content" style="float: right;">
        <!-- content2 내용 -->
    </div>
</div>

<div th:replace="fragments/footer::footer"></div>

</body>
</html>