<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">
    <script th:inline="javascript">

        /*<![CDATA[*/
        var userName = /*[[${loggedInUser.userid}]]*/ 'defaultUserName';
        console.log('userName:', userName);

        const commentWrite = (parentId) => {
            const contents = document.getElementById("commentContents").value;
            const id = [[${board.id}]];
            const token = $("meta[name='_csrf']").attr("content");
            const header = $("meta[name='_csrf_header']").attr("content");

            console.log("Data to be sent:", {
                "commentWriter": userName,
                "commentContents": contents,
                "board": id,
                "parentId": parentId,
            });

            $.ajax({
                type: "post",
                url: "/comment/save",
                contentType: "application/json",  // Content-Type 변경
                data: JSON.stringify({
                    "commentWriter": userName,
                    "commentContents": contents,
                    "boardId": id,
                    "parentId": parentId,
                }),
                beforeSend: function (xhr) {
                    xhr.setRequestHeader(header, token);
                },
                success: function (res) {
                    console.log("요청성공", res);

                    // 새로운 댓글만 테이블에 추가.
                    addCommentToTable(res);

                    document.getElementById('commentContents').value = '';
                },
                error: function (err) {
                    console.log("요청실패", err);
                    if (err.status === 401) {
                        alert('로그인이 필요합니다.');
                    }
                }
            });
        }
        // 대댓글 제출 함수
        // submitReply 함수 정의
        function submitReply(commentId) {
            console.log('submitReply 함수 호출됨, commentId:', commentId);
            const contents = document.getElementById("replyContents-${comment.commentId}").value;
            const id = [[${board.id}]]; // 게시판 ID
            const token = $("meta[name='_csrf']").attr("content"); // CSRF 토큰
            const header = $("meta[name='_csrf_header']").attr("content"); // CSRF 헤더

            console.log('submitReply 함수 호출됨');
            console.log("보냇다 대댓글:", {
                "commentWriter": userName, // 댓글 작성자
                "commentContents": contents, // 댓글 내용
                "boardId": id, // 게시판 ID
                // "parentId": commentId // 부모 댓글 ID
                "parentId": commentId // 부모 댓글 ID

            });
            // commentId가 유효한 숫자인지 확인
            if (!isNaN(commentId)) {
                // fetchParentId 함수 호출
                // fetchParentId(6, function(updatedParentId) {
                // 업데이트된 부모 댓글 ID가 있을 경우
                if (true) {
                    // AJAX를 사용하여 대댓글 저장 요청
                    $.ajax({
                        type: "post",
                        url: `/comment/saveReply/${commentId}`, // 수정된 부분
                        contentType: "application/json",
                        data: JSON.stringify({
                            "commentWriter": userName, // 댓글 작성자
                            "commentContents": contents, // 댓글 내용
                            "boardId": id, // 게시판 ID
                            "parentId": commentId, // 업데이트된 부모 댓글 ID
                        }),
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader(header, token);
                        },
                        success: function (res) {
                            // 테이블에 새로운 댓글 추가
                            addCommentToTable(res);
                            $(`#replyForm-${commentId}`).hide();
                            $(`#replyContents-${commentId}`).val('');
                            // 대댓글이 성공적으로 작성되면 메시지를 추가
                            const successMessage = "댓글이 성공적으로 작성되었습니다!";
                            alert(successMessage);

                        },
                        error: function (err) {
                            console.log("요청실패", err);
                            if (err.status === 401) {
                                alert('로그인이 필요합니다.');
                            }
                        }
                    });
                } else {
                    console.error('부모 댓글 ID를 가져올 수 없습니다.');
                }
                // });
            } else {
                console.error('commentId가 유효한 숫자가 아닙니다:', commentId);
            }
        }
        //리뷰 테이블 한 행씩 추가하기위한 스크립트
        const addCommentToTable = (comment) => {
            const table = document.getElementById('comment-list');
            // insertRow(-1); = 테이블 젤 위에 행이 생성이 됨
            // insertRow(0); = 테이블 젤 아래에 행이 생성이 됨
            const newRow = table.insertRow(0);

            const cell1 = newRow.insertCell(0);
            const cell2 = newRow.insertCell(1);
            const cell3 = newRow.insertCell(2);
            const cell4 = newRow.insertCell(3);


            cell1.innerHTML = comment.commentWriter;
            cell2.innerHTML = comment.commentContents;
            cell3.innerHTML = `<a href="/comment/edit/${comment.commentId}">수정</a>`;
            cell4.innerHTML = `<a href="/comment/delete/${comment.commentId}" class="btn btn-danger">삭제</a>`;
        };

        function confirmDelete() {
            return window.confirm('정말로 이 댓글을 삭제하시겠습니까?');
        }


        //좋아요 & 싫어요 기능
        function setFeeling(obj,feel_num) {
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");

            console.log("feel_num : "+feel_num);

            var boardId = obj.dataset.id;
            var url = "/setFeeling/"+boardId+"/"+feel_num;

            $.ajax({
                url      : url,
                type     : "GET",
                beforeSend : function(xhr){
                    /* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
                    xhr.setRequestHeader(header, token);
                },
                dataType : "json",
                cache   : false,
                success  : function(result, status){
                    console.log("동작 여부 확인: 감정표현 ")

                    location.reload();
                },
                error : function(jqXHR, status, error){
                    if(jqXHR.status == '401'){
                        alert('로그인 후 이용해주세요');
                        location.href='/members/login';
                    } else{
                        console.log("동작 여부 확인: 좋아요 에러부분")
                    }

                }
            });
        }

    </script>
</th:block>

<!-- 사용자 스크립트 추가 합계금액 계산기인데 우린 필요없을거같음 -->
<!--<th:block layout:fragment="script">-->
<!--    <script th:inline="javascript">-->
<!--        $(document).ready(function(){-->

<!--            calculateToalPrice();-->

<!--            $("#count").change( function(){-->
<!--                calculateToalPrice();-->
<!--            });-->
<!--        });-->

<!--        function calculateToalPrice(){-->
<!--            var count = $("#count").val();-->
<!--            var price = $("#price").val();-->
<!--            var totalPrice = price*count;-->
<!--            $("#totalPrice").html(totalPrice + '원');-->
<!--        }-->

<!--    </script>-->
<!--</th:block>-->

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <style>
        .mgb-15 {
            margin-bottom: 15px;
        }

        .mgt-30 {
            margin-top: 30px;
        }

        .mgt-50 {
            margin-top: 50px;
        }

        .repImgDiv {
            margin-right: 15px;
            height: auto;
            width: 50%;
        }

        .repImg {
            width: 100%;
            height: 400px;
        }

        .wd50 {
            height: auto;
            width: 50%;
        }

        .profile {
            display: flex;
            align-items: center; /* 세로 중앙 정렬 */
        }

        .box {
            width: 50px;
            height: 50px;
            border-radius: 70%;
            overflow: hidden;
        }

        .box_margin {
            margin: 10px;
        }
        .comment_img{
            display: flex;
            align-items: center; /* 세로 중앙 정렬 */
            width: 50px;
            height: 50px;
            border-radius: 70%;
            overflow: hidden;
            background: #1F5D5E;
            margin: 10px;
        }
    </style>
</th:block>

<div layout:fragment="content">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <p class="h2">
                    리뷰 상세보기
                </p>


                <input type="hidden" id="boardId" th:value="${board.id}">

                <div class="d-flex">
                    <div class="repImgDiv">
                        <img th:src="${board.boardImgDtoList[0].imgUrl}" class="rounded repImg"
                             th:alt="${board.board_title}">
                    </div>
                    <div class="wd50">
                        <span th:if="${board.boardViewStatus == T(com.matzip.constant.BoardViewStatus).VIEW}"
                              class="badge badge-primary mgb-15">
                            일반글 흐으음...
                        </span>
                        <span th:unless="${board.boardViewStatus == T(com.matzip.constant.BoardViewStatus).NOT_VIEW}"
                              class="badge btn-danger mgb-15">
                            비밀글 여기다가 뭐넣을까
                        </span>
                        <div class="profile">
                            <div class="box_margin">
                                <div class="box">
                                    <img th:src="${users.user_image}" width=50 height=50
                                         alt="profile_img">
                                </div>
                            </div>
                            <div class="detail">
                                <a th:href="@{/users/profile/{id}(id = ${users.userid})}"
                                   th:text="${users.userid}"></a>
                            </div>
                        </div>
                        <div>
                        </div>
                        <hr class="my-4">
                        <div class="h4" th:text="${board.board_title}"></div>
                        <hr class="my-4">

                        <div class="text-right">
                            <div class="h4 text-danger text-left">
                                <input type="hidden" th:value="${board.score}" id="score" name="score">
                                <span th:text="${board.score}"></span>점
                            </div>

                            <th:block th:switch="*{users.userid}">
                                <!--내가 쓴 글-->
                                <div th:case="${loggedInUser.getUserid()}">
                                    <button type="button" onClick="" class="btn btn-secondary">👍 <span th:text="${likeCount}"></span></button>
                                    <button type="button" onClick="" class="btn btn-secondary">👎 <span th:text="${dislikeCount}"></span></button>
                                </div>

                                <!--다른사람 게시글-->
                                <div th:case="*">
                                    <!--감정표현 한 적 없다면-->
                                    <div th:if="${myFeeling == null}">
                                        <button type="button" th:data-id="${board.getId()}" onClick="setFeeling(this, 1)" class="btn btn-secondary">
                                            👍 <span th:text="${likeCount}"></span>
                                        </button>
                                        <button type="button" th:data-id="${board.getId()}" onClick="setFeeling(this, -1)" class="btn btn-secondary">
                                            👎 <span th:text="${dislikeCount}"></span>
                                        </button>
                                    </div>
                                    <!--감정표현 한 적 있다면-->
                                    <div th:if="${myFeeling != null}">
                                        <th:block th:switch="${myFeeling.getFeel_num()}">
                                            <!--이미 좋아요 상태일 경우-->
                                            <div th:case=1>
                                                <button type="button" th:data-id="${board.getId()}"
                                                        onClick="setFeeling(this,1)" class="btn btn-danger">👍 <span th:text="${likeCount}"></span></button>
                                                <button type="button" th:data-id="${board.getId()}"
                                                        onClick="setFeeling(this,-1)" class="btn btn-secondary">👎 <span th:text="${dislikeCount}"></span></button>
                                            </div>
                                            <!--이미 싫어요 상태일 경우-->
                                            <div th:case=-1>
                                                <button type="button" th:data-id="${board.getId()}"
                                                        onClick="setFeeling(this,1)" class="btn btn-secondary">👍 <span th:text="${likeCount}"></span></button>
                                                <button type="button" th:data-id="${board.getId()}"
                                                        onClick="setFeeling(this,-1)" class="btn btn-danger">👎 <span th:text="${dislikeCount}"></span></button>
                                            </div>
                                        </th:block>
                                    </div>
                                </div>
                            </th:block>
                        </div>
                        <hr class="my-4">
                    </div>
                </div>

                <div class="jumbotron jumbotron-fluid mgt-10">
                    <div class="container">
                        <h4 class="display-5">리뷰상세</h4>
                        <hr class="my-4">
                        <p class="lead" th:text="${board.content}"></p>
                    </div>
                </div>

                <div th:each="boardImg : ${board.boardImgDtoList}" class="text-center">
                    <img th:if="${not #strings.isEmpty(boardImg.imgUrl)}" th:src="${boardImg.imgUrl}"
                         class="rounded mgb-15" width="800">
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">

                <p class="h2">
                    가게 정보
                </p>

                <input type="hidden" id="resId" th:value="${restaurant.resId}">

                <div class="d-flex">
                    <div class="repImgDiv">
                        <img th:src="${restaurant.res_thumbnail}" class="rounded repImg"
                             th:alt="${restaurant.res_name}">
                    </div>
                    <div class="wd50">
                        <a th:href="'/restaurant/' +${restaurant.resId}" class="text-dark">
                            <div class="h4" th:text="${restaurant.res_name}"></div>
                        </a>
                        <hr class="my-4">

                        <div class="text-right">
                            <div class="h4 text-danger text-left">
                                <span th:text="${restaurant.res_menu}"></span>
                            </div>
                        </div>
                        <div>
                            <a th:href="@{|/board/new/${restaurant.resId}|}" class="btn btn-primary btn-sm"
                               th:alt="${restaurant.resId}">리뷰작성</a>
                        </div>
                    </div>
                </div>

                <div class="jumbotron jumbotron-fluid mgt-10">
                    <div class="container">
                        <h4 class="display-5">가게소개</h4>
                        <hr class="my-4">
                        <p class="lead" th:text="${restaurant.res_intro}"></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- 댓글 -->
        <div id="review" class="info-block">
            <h4>댓글</h4>
            <div>
                <div id="comment-write">
                    <p class="reviewer"><span>작성자</span> : <span th:text="${loggedInUser.userid}"></span></p>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Review</span>
                        </div>
                        <textarea class="form-control" aria-label="With textarea" id="commentContents" placeholder="리뷰를 적어 주세요."></textarea>
                    </div>
                    <button id="comment-write-btn" onclick="commentWrite()" class="btn btn-dark">댓글작성</button>
                </div>

                <table class="table center">
                    <thead id="comment-list_1">
                    <tr>
                        <th>작성자</th>
                        <th>내용</th>
                        <th>수정</th>
                        <th>삭제</th>
                    </tr>
                    </thead>
                    <tbody id="comment-list">
                    <tr th:each="comment : ${commentsPage.content}">
                        <input type="hidden" th:id="'commentId-' + ${comment.commentId}" th:value="${comment.commentId}"/>
                        <td th:text="${comment.commentWriter}"></td>
                        <td th:text="${comment.commentContents}"></td>
                        <td>
                            <!--                            <input type="text" id="commentId2" th:value="${comment.commentId}"/>-->
                            <!-- 로그인을 한 유저, 로그인을 한 유저의 name 과 commentWriter가 일치하면 수정버튼 활성화 -->
                            <a th:if="${users != null and comment.commentWriter == loggedInUser.userid}"
                               th:href="@{/comment/edit/{commentId}(commentId=${comment.commentId})}">수정</a>
                        </td>
                        <td>

                            <a th:if="${users != null and comment.commentWriter == loggedInUser.userid}"
                               th:href="@{/comment/delete/{commentId}(commentId=${comment.commentId})}"
                               class="btn btn-danger delete-comment"
                               data-comment-id="${comment.commentId}"
                               onclick="return confirmDelete()">삭제</a>
                        <td>
                            <!-- 대댓글 폼 -->
                            <div id="comment-list2" style="display: flex; align-items: center;">
                                <div class="comment_img">
                                    <img th:src="${users.user_image}" alt="profile_img">
                                </div>
                                <div class="comment_user"  th:text="${loggedInUser.userid}"></div>
                            </div>
                            <!--                                        <p>Comment ID: <span th:text="${comment.commentId}"></span></p>-->
                            <textarea class="form-control" style="margin-bottom: 10px" id="replyContents-${comment.commentId}"rows="3" placeholder="대댓글을 작성하세요"></textarea>
                            <button th:onclick="submitReply(/*[[${comment.commentId}]]*/ + '${comment.commentId}')">대댓글</button>
                            <!-- 대댓글이 추가될 위치 -->
                            <!--                            <div class="reply-container" th:id="'replyContainer-' + ${comment.commentId}"></div>-->


                        </td>

                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

</html>