<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<th:block layout:fragment="script">

    <script th:inline="javascript">

        $(document).ready(function(){
            var errorMessage = [[${errorMessage}]];
            if(errorMessage != null){
                alert(errorMessage);
            }
        });

        //팔로잉 & 팔로워 기능
        function toggleSubscribe(toUserId,obj) {
            if ($(obj).text() === "언팔로우") {
                $.ajax({
                    type: "GET",
                    url: "/users/deleteFollow/"+toUserId,
                    dataType: "text"
                }).done(res => {
                    $(obj).text("팔로우");
                    $(obj).toggleClass("btn btn-primary");
                }).fail(error => {
                    alert(error.responseText);
                });
            } else {
                $.ajax({
                    type: "GET",
                    url: "/users/insertFollow/" + toUserId,
                    dataType: "text"
                }).done(res => {
                    $(obj).text("언팔로우");
                    $(obj).toggleClass("btn btn-danger");
                }).fail(error => {
                    alert(error.responseText);
                });
            }
        }


        //팔로워 모달 띄우기
        /*function getSubscribeModalUsers(fromUser) {
            let item = `<div class="subscribe__item" id="subscribeModalItem-${fromUser.userid}">
                        <div class="subscribe__img">
                        th:src="${fromUser.user_image}"
                        </div>
                        <div class="subscribe__text">
                            <h2>${fromUser.userid}</h2>
                        </div>
                        <div class="subscribe__btn">`;

            if(!fromUser.equalUserStatus){ // 동일 유저가 아닐때 버튼이 만들어져야 함.
                // 구독한 상태
                if(fromUser.subscribeStatus){
                    item += `<button class="cta blue" onclick="toggleSubscribe(${fromUser.id},this)">구독취소</button>`;
                    // 구독 안한 상태
                }else{
                    item += `<button class="cta" onclick="toggleSubscribe(${fromUser.id},this)">구독하기</button>`;
                }
            }
            item += `</div></div>`;
            return item;
        }*/


        //팔로워 모달 창 띄우기
        $(function (){
            $(".openFollower").click(function (){
                $(".followerModal").fadeIn();
            });

            $(".openFollowing").click(function (){
                $(".followingModal").fadeIn();
            });

            $(".followerModal").dblclick(function (){
                $(".followerModal").fadeOut();
            });

            $(".followingModal").dblclick(function (){
                $(".followingModal").fadeOut();
            });
        })


    </script>
</th:block>

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <style>
        .followerModal{
            position: absolute;
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,0.8);
            top: 0;left: 0;
            display: none;
        }
        .followingModal {
            position: absolute;
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,0.8);
            top: 0;left: 0;
            display: none;
        }
        .modal-content{
            width:350px; height:500px;
            background:#fff; border-radius:10px;
            position:relative; top:40%; left:50%;
            margin-top:-100px; margin-left:-200px;
            text-align:center;
            box-sizing:border-box; padding:74px 0;
            line-height:23px;
            overflow: scroll;
        }
        .modal_img{

        }
        .openFollower{
            cursor:pointer;
        }
    </style>
</th:block>


<div layout:fragment="content">
    <div class = "con_padding">
        <div class="col-8">
            <div class="card">
                <div class="row no-gutters">
                    <div class="col-4">
                        <img id="preview" th:src="${pageUserDto.user_image}"  width=200 height=200 th:alt="${pageUserDto.user_image}">
                    </div>
                    <div class="col-8">
                        <div class="card-body">
                            <div class = "detail">
                                <h2 th:text="${pageUserDto.userid}"></h2>

                                <th:block th:switch="*{pageUserDto.userid}">

                                    <!--내 프로필-->
                                    <div th:case="${loginUserDto.getUserid()}">
                                        <button type="button" onClick="location.href='/users/modUsersForm'"  class="btn btn-secondary">프로필 편집</button>
                                        <button type="button" onClick="location.href='/admin/board/new'" class="btn btn-secondary">게시글 작성</button>
                                    </div>
                                    <!--다른 사람 프로필-->
                                    <div th:case="*">
                                        <th:block th:switch="${followcheck}">
                                            <!--팔로우한 유저-->
                                            <div th:case="true">
                                                <button type="button" th:attr="onclick='toggleSubscribe(\'' + ${pageUserDto.userid} + '\', this)'">언팔로우</button>

                                            </div>
                                            <!--팔로우하지 않은 유저-->
                                            <div th:case="false">
                                                <button type="button" th:attr="onclick='toggleSubscribe(\'' + ${pageUserDto.userid} + '\', this)'">팔로우</button>
                                            </div>
                                        </th:block>
                                    </div>
                                </th:block>
                            </div>
                            <div class ="detail_list">
                                <a>게시물<span> 15</span></a>
                                <a class="openFollower">팔로워</a>
                                <a class="openFollowing">팔로우</a>
                            </div>
                            <div>
                                신뢰등급 + 게시글 작성 버튼
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <hr>
            <div class="board">
                여기는 게시글 자리입니다
                <div>

                </div>
                <div>

                </div>
                <div>

                </div>
            </div>


        </div>
        <!--팔로워 모달창(pageUser를 팔로우한사람)-->
        <div class="followerModal">
            <div class="modal-content">
                <p>팔로워</p>
                <div>
                    <table class="table">
                        <tr th:each="followerDto : ${followerDtoList}">
                            <div class="text-center align-middle">
                                <td><img th:src="${followerDto.profileImage}" width=50 height=50 alt="profile_img"></td>
                                <td><a th:href="@{/users/profile/{id}(id = ${followerDto.id})}" th:text="${followerDto.id}"></a></td>
                                <td><div class="following_id_message" th:text="${followerDto.subscribeState}"></div></td>
                            </div>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <!--팔로잉 모달창(pageUser가 팔로우한사람)-->
        <div class="followingModal">
            <div class="modal-content">
                <p>팔로우</p>
                <div>
                    <table class="table">
                        <tr th:each="followingDto : ${followingDtoList}">
                            <div class="text-center align-middle">
                                <td><img th:src="${followingDto.profileImage}" width=50 height=50 alt="profile_img"></td>
                                <td><a th:href="@{/users/profile/{id}(id = ${followingDto.id})}" th:text="${followingDto.id}"></a></td>
                                <td><div class="following_id_message" th:text="${followingDto.subscribeState}"></div></td>
                            </div>
                        </tr>
                    </table>
                </div>
            </div>
        </div>


    </div>

</div>
</html>