<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">


<head>
    <meta charset="UTF-8">
    <title>회원목록</title>
</head>
<body>


    <div layout:fragment="content">
        <div class="container">
<div>

    <form>
        <table class="table">
        <thead>
        <tr>

            <td>회원아이디</td>
            <td>이름</td>
            <td>주소</td>
            <td>전화번호</td>
            <td>역할</td>
            <td>이미지</td>
            <td>상세보기</td>
            <td>삭제</td>

<!--            <td>가입날짜</td>-->
        </tr>
        </thead>

<tbody>
<tr th:each="users : ${usersList}">
    <td th:text="${users.userid}"></td>
    <td th:text="${users.user_name}"></td>
    <td th:text="${users.user_address}"></td>
    <td th:text="${users.user_phone}"></td>
    <td th:text="${users.user_role}"></td>
    <td>
        <img th:src="${users.user_image}" alt="User Image" style="width: 50px; height: 50px;">
    </td>
    <td><button type="button" onClick="location.href='/users/modUsersForm'"  class="btn btn-primary btn-sm">수정</button></td>
<!--    <td><a th:href="@{|/users/updateUsers/|}" class="btn btn-primary btn-sm">수정</a></td>-->
    <td><a th:href="@{|/users/delete/${users.userid}|}" class="btn btn-danger btn-sm">삭제</a></td>


</tr>
</tbody>
        </table>
    </form>
</div>
        </div>
    </div>
</body>
</html>